.animated-bg {
  color: --white-color;
  background: linear-gradient(-45deg, #23d5ab, #c471ed, #12c2e9, #f64f59);
  background-size: 400% 400%;
  
  animation: change 5s ease-in-out infinite;
}

@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
